
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>新鲜水果 | 天天生鲜</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>


    <script type="text/javascript">


    function plus() {
        num = parseFloat($('.num_show').val());
        kucun = parseFloat($('.goods_kucun').html());
        if(num<=kucun){
            $('.num_show').val(num+1);
            $('.num_show').blur();
        }
    }

    function minus() {
        num = parseFloat($('.num_show').val());
        if(num>1)
        {
            $('.num_show').val(num-1);
            $('.num_show').blur();
        }
        else {

        }
    }

    $(function () {
        $('.num_show').blur(function () {

        num = parseInt($('.num_show').val());

        if(num<=1)
             num = 1;

         kucun = parseInt($('.goods_kucun').text());

         if(num>=kucun)
             num = kucun;

         price = parseFloat($('#gprice').text());
         total = num*price;
         $('.num_show').val(num);
         $('#gtotal').text(total.toFixed(2)+'元');


        });
    });
    </script>


</head>
<body>



    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">





                {% if user.is_authenticated %}
				<div class="login_btn fl">欢迎您：<em>tglmm</em>
                    <span>|</span>
                    <em><a href="/user/logout/">退出</a></em>
				</div>
                    {% else %}
                	<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/1">我的订单</a>




				</div>
			</div>
		</div>
	</div>


    <div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>

		<div class="search_con fl">
             <script>
                $(function () {
                    $('.input_btn').click(function () {
                        q = $('.input_text').val();
                        if(q==""){
                        alert("请输入搜索内容");
                        }
                        else{
                            location.href = '/search/?q='+q+'&page=1'
                        }
                    })
                })

            </script>
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>


            <div class="guest_cart fr">
                <a href="/cart/" class="cart_name fl">我的购物车</a>
                <div class="goods_count fl" id="show_count">0</div>
            </div>

	</div>


    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
                    {% for type in types %}
					<li><a href="{% url "goods:list" type.id 1 %}?sort=default" class="{{ type.logo }}">{{ type.name }}</a></li>
                    {% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="http://www.chengshuwangluo.com/user/register/">商家入驻</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		全部分类 > {{ type.name }}

        > 商品详情

	</div>




	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for sku in new_skus %}
					<li>
                    {{ forloop.counter }}
						<a href="{% url "goods:detail" sku.id %}"><img src="{{ sku.image.url }}"></a>
						<h4><a href="{% url "goods:detail" sku.id %}">{{ sku.name }}</a></h4>
						<div class="prize">￥{{ sku.price }}</div>
					</li>

                </ul>
			</div>
		</div>

	</div>
                    {% endfor %}

{#    商品列表 #}
    <a href="{% url "goods:list" type.id 1 %}?sort=default">默认</a>
    <a href="{% url "goods:list" type.id 1 %}?sort=hot">人气</a>
    <a href="{% url "goods:list" type.id 1 %}?sort=price">价格</a>
    <div class="goods_banner fl">
    <ul>
            {% for obj in page_list %}
        <li>
             <a href="{% url "goods:detail" obj.id %}"><img src="{{ obj.image.url }}" alt=""></a>
            <h4><a href="{% url "goods:detail" obj.id %}">{{ obj.name }}</a></h4>
            <div class="operate">
                <span class="prize">￥{{ obj.price }}</span>
                <span class="unit">{{ obj.price }}/{{ obj.unite }}</span>
            </div>

        </li>
            {% endfor %}
    </ul>
    <div class="pagenation">
        {% if page_list.has_previous %}
        <a href="{% url "goods:list" type.id  page_list.previous_page_number %}?sort={{ sort }}">上一页</a>
        {% endif %}
        {% for p in pages %}
        <a href="{% url "goods:list" type.id p %}?sort={{ sort }}" {% if page_list.number == p %}class="active"{% endif %}>{{ p }}</a>
        {% endfor %}
        {% if page_list.has_next %}
            <a href="{% url "goods:list" type.id page_list.next_page_number %}?sort={{ sort }}">下一页</a>
        {% endif %}
    </div>
</div>



	<div class="add_jump"></div>

	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){

        $(".buy_btn").click(function () {
            num = parseInt($('.num_show').val());
            $.get('/cart/add17_'+num+'/',function (data) {
                $('#show_count').text(data.count);
            });
            location.href = "/cart/";

        });

        $('#add_cart').click(function() {

            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});

            $('#add_cart').click(function() {


                if ($('.login_btn').text().indexOf('登录') >= 0) {
                    alert('请登陆后购买');
                    location.href('/user/login/');
                    return;
                }


                $(".add_jump").stop().animate({
                        'left': $to_y + 7,
                        'top': $to_x + 7
                    },
                    "fast", function () {
                        $(".add_jump").fadeOut('fast', function () {
                            count = $('.num_show').val();
                            $('#show_count').html(count);
                    });
                });

                num = parseInt($('.num_show').val());
                $.get('/cart/add17_'+num+'/',function (data) {
                    $('#show_count').text(data.count);
                });
            });
        });

    });
	</script>

    <div class="footer no-mp">
		<div class="foot_link">
			<a>公司：北京乘数网络信息有限公司</a>
			<span>|</span>
			<a href="#">电话：13901184413</a>
			<span>|</span>
			<a href="http://www.chengshuwangluo.com/">联系我们</a>
			<span>地址：北京市密云区新南路69号3层兰华三层01(342)</span>
			<a href="http://beian.miit.gov.cn">京ICP备19031966号-1</a>
			<span>|</span>
			<a href="http://www.chengshuwangluo.com/flow/">入驻须知</a>
            <span>|</span>
            <a href="#">入驻协议</a>
		</div>
		<p>CopyRight © 2019 北京乘数网络信息有限公司 All Rights Reserved</p>
	</div>

</body>
</html>